<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
  <%= @event.brief %>
  <%= @event.location %>
  <%= @event.collaborators %>
  <%= @event.event_start %>
  <%= @event.event_end %>

</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
