<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.title %><br/>
  <%= @event.brief %><br/>
  <%= @event.event_start %><br/>
  <%= @event.event_end %><br/>
  <%= @event.location %><br/>

</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>